@charset "UTF-8";
/**
 * Front end specific CSS
 */

/**
* Shortcode layout divi default styling  - Divi
 */
section.wfea.divi article .booknow {
  margin-bottom: 1em;
  margin-top: 1em;
}

@media (min-width: 1024px) {
  section.wfea.divi article .booknow .submit {
    width: 100%;
    margin-top: 0;
  }
}
/* divi */
#content-area .wfea.divi .fc table tr, #content-area .wfea.divi .fc table td, #content-area .wfea.divi .fc table th {
  padding: 0 0.587em;
}

/* rows */
section.wfea.rows .row {
  display: flex;
  flex-flow: row wrap;
}
section.wfea.rows .row .tag {
  width: 100px;
}
section.wfea.rows .row .content {
  width: 100%;
}
section.wfea.rows .row .img {
  width: 100px;
}
section.wfea.rows .row .cta {
  width: 120px;
}


/**
*
* default Widget css.
*/
.widget .eaw-block .eaw-li__wrap {
  margin-bottom: 1em;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}
.widget .eaw-block .eaw-li__flex {
  display: flex;
  gap: 1em;
}
.widget .eaw-block .eaw-li__flex .eaw-content-wrap {
  flex-grow: 1;
  line-height: 100%;
}
.widget .eaw-block .eaw-li__flex .eaw-thumb-wrap {
  flex-shrink: 1;
}
.widget .eaw-block .eaw-li__flex.eaw-alignright {
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.widget .eaw-block .eaw-li__flex.eaw-aligncenter {
  flex-direction: column;
}
.widget .eaw-block .eaw-li__flex.eaw-alignleft {
  flex-direction: row;
  justify-content: flex-start;
}
.widget .eaw-block a {
  display: inline;
  text-decoration: none;
}
.widget .eaw-block a.eaw-img {
  display: block;
}
.widget .eaw-block a.eaw-img.eaw-aligncenter {
  text-align: center;
}
.widget .eaw-block h3 {
  background: none;
  clear: none;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5em;
}
.widget .eaw-block .eaw-booknow {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.widget .eaw-block .eaw-thumb {
  border: 1px solid #EEE;
  box-shadow: none;
  margin: 2px 10px 2px 0;
  padding: 3px;
}
.widget .eaw-block .eaw-thumb.eaw-aligncenter {
  margin: 2px auto 2px auto;
}
.widget .eaw-block .eaw-summary {
  font-size: 12px;
}
.widget .eaw-block .eaw-time {
  color: #bbb;
  font-size: 11px;
}
.widget .eaw-block .eaw-comment {
  color: #bbb;
  font-size: 11px;
  padding-left: 5px;
}

.elementor-widget-container .eaw-block .eaw-li__wrap {
  margin-bottom: 1em;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}
.elementor-widget-container .eaw-block .eaw-li__flex {
  display: flex;
  gap: 1em;
}
.elementor-widget-container .eaw-block .eaw-li__flex .eaw-content-wrap {
  flex-grow: 1;
  line-height: 100%;
}
.elementor-widget-container .eaw-block .eaw-li__flex .eaw-thumb-wrap {
  flex-shrink: 1;
}
.elementor-widget-container .eaw-block .eaw-li__flex.eaw-alignright {
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.elementor-widget-container .eaw-block .eaw-li__flex.eaw-aligncenter {
  flex-direction: column;
}
.elementor-widget-container .eaw-block .eaw-li__flex.eaw-alignleft {
  flex-direction: row;
  justify-content: flex-start;
}
.elementor-widget-container .eaw-block a {
  display: inline;
  text-decoration: none;
}
.elementor-widget-container .eaw-block a.eaw-img {
  display: block;
}
.elementor-widget-container .eaw-block a.eaw-img.eaw-aligncenter {
  text-align: center;
}
.elementor-widget-container .eaw-block h3 {
  background: none;
  clear: none;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5em;
}
.elementor-widget-container .eaw-block .eaw-booknow {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.elementor-widget-container .eaw-block .eaw-thumb {
  border: 1px solid #EEE;
  box-shadow: none;
  margin: 2px 10px 2px 0;
  padding: 3px;
}
.elementor-widget-container .eaw-block .eaw-thumb.eaw-aligncenter {
  margin: 2px auto 2px auto;
}
.elementor-widget-container .eaw-block .eaw-summary {
  font-size: 12px;
}
.elementor-widget-container .eaw-block .eaw-time {
  color: #bbb;
  font-size: 11px;
}
.elementor-widget-container .eaw-block .eaw-comment {
  color: #bbb;
  font-size: 11px;
  padding-left: 5px;
}


.wfea-card {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
  margin: 0 auto !important;
}
.wfea-card.enfold .wfea-card-item .eaw-img {
  position: inherit !important;
}
.wfea-card .eaw-card-details {
  z-index: 999999;
  display: none;
  text-align: left;
  background-color: #fff;
  padding: 20px;
  max-width: 300px;
  position: absolute;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  color: #000;
  font-size: 16px;
  line-height: 1.4;
  word-wrap: normal;
  white-space: normal;
}
.wfea-card .eaw-button-details:hover .eaw-card-details {
  display: block;
  transform-origin: 100% 0%;
  -webkit-animation: fadeIn 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;
}
.wfea-card-list-item {
  box-sizing: border-box !important;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  width: 100% !important;
  max-width: 20rem !important;
  margin-bottom: 1rem !important;
}
.wfea-card .wfea-card-item {
  border-radius: 3px !important;
  overflow: hidden !important;
}
.wfea-card .wfea-card-item .eaw-thumb-wrap {
  width: 100% !important;
  overflow: hidden !important;
  padding-top: 42.10526% !important;
  position: relative !important;
}
.wfea-card .wfea-card-item .eaw-thumb-wrap img {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}
.wfea-card .wfea-card-item .eaw-content-wrap {
  background: #fff !important;
  padding: 0.25rem !important;
  border: 1px solid #e2e8f0 !important;
  display: flex !important;
}
.wfea-card .wfea-card-item .eaw-content-wrap .eaw-calendar-date {
  flex: 0 0 auto !important;
  text-align: center !important;
  font-size: 2.1rem !important;
  line-height: 1.5 !important;
}
.wfea-card .wfea-card-item .eaw-content-wrap .eaw-calendar-date .eaw-calendar-date-month {
  color: #d6472b !important;
  text-transform: uppercase !important;
  font-size: 0.875rem !important;
}
.wfea-card .wfea-card-item .eaw-content-wrap .eaw-calendar-date .eaw-calendar-date-day {
  font-size: 1.25rem !important;
}
.wfea-card .wfea-card-item .eaw-content-wrap .eaw-content-block {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  color: #000 !important;
  flex: 1 1 auto !important;
  font-size: 15px;
}
.wfea-card .wfea-card-item .eaw-content-wrap .eaw-content-block h3 {
  font-size: 0.875rem !important;
  color: #000 !important;
  margin-top: 0 !important;
  margin-bottom: 12px;
  font-weight: bold !important;
}
.wfea-card .wfea-card-item .eaw-content-wrap .eaw-content-block h3 a {
  color: #000 !important;
  text-decoration: none;
}
.wfea-card .wfea-card-item .eaw-content-wrap .eaw-content-block .eaw-time {
  font-size: 16px;
}
.wfea-card .wfea-card-item .eaw-content-wrap .eaw-content-block .eaw-buttons {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-between !important;
  padding-top: 0.5rem !important;
}
.wfea-card .wfea-card-item .eaw-content-wrap .eaw-content-block .eaw-buttons .eaw-button-details {
  color: #2b6cb0 !important;
  text-decoration: underline !important;
  background: none !important;
  border: none !important;
  padding: 0 !important;
}
.wfea-card .wfea-card-item .eaw-content-wrap .eaw-content-block .eaw-buttons .eaw-booknow a {
  display: block !important;
  background: #3c7d38 !important;
  color: #fff !important;
  padding: 0.25rem 1rem !important;
  border-radius: 3px !important;
  text-decoration: none;
}
.wfea-card .wfea-card-item .eaw-content-wrap .eaw-content-block:hover {
  text-decoration: none;
}


section.wfea.theme-red article {
  color: #000000;
}
section.wfea.theme-red article a {
  border: 0;
  box-shadow: none;
}
section.wfea.theme-red article a:hover {
  border: 0;
  box-shadow: none;
}
section.wfea.theme-red article .wfea-header__title:before, section.wfea.theme-red article .wfea-header__title:after {
  content: none;
}
section.wfea.theme-red article h1, section.wfea.theme-red article h2, section.wfea.theme-red article h3, section.wfea.theme-red article h4, section.wfea.theme-red article h5, section.wfea.theme-red article h6 {
  line-height: 1.25;
  margin: 0;
  padding: 0;
}
section.wfea.theme-red article .wfea-1__info {
  background: #f1f1f1;
}
section.wfea.theme-red article .wfea-header__title a {
  color: #dc2626 !important;
}
section.wfea.theme-red article .eaw-time {
  color: #787878;
}
section.wfea.theme-red article .booknow a {
  background: #dc2626;
  color: #ffffff;
}
section.wfea.theme-red article .booknow button {
  background: #dc2626;
  color: #ffffff;
}
section.wfea.theme-red article .more-link {
  color: #dc2626;
}

.eaw-block.theme-red .eaw-ulx .eaw-li__wrap {
  color: #000000;
}
.eaw-block.theme-red .eaw-ulx .eaw-li__wrap a {
  border: 0;
  box-shadow: none;
}
.eaw-block.theme-red .eaw-ulx .eaw-li__wrap a:hover {
  border: 0;
  box-shadow: none;
}
.eaw-block.theme-red .eaw-ulx .eaw-li__wrap .wfea-header__title:before, .eaw-block.theme-red .eaw-ulx .eaw-li__wrap .wfea-header__title:after {
  content: none;
}
.eaw-block.theme-red .eaw-ulx .eaw-li__wrap h1, .eaw-block.theme-red .eaw-ulx .eaw-li__wrap h2, .eaw-block.theme-red .eaw-ulx .eaw-li__wrap h3, .eaw-block.theme-red .eaw-ulx .eaw-li__wrap h4, .eaw-block.theme-red .eaw-ulx .eaw-li__wrap h5, .eaw-block.theme-red .eaw-ulx .eaw-li__wrap h6 {
  line-height: 1.25;
  margin: 0;
  padding: 0;
}
.eaw-block.theme-red .eaw-ulx .eaw-li__wrap .eaw-title a {
  color: #dc2626;
}
.eaw-block.theme-red .eaw-ulx .eaw-li__wrap .eaw-time {
  color: #787878;
}
.eaw-block.theme-red .eaw-ulx .eaw-li__wrap .booknow a {
  background: #dc2626;
  color: #ffffff;
}
.eaw-block.theme-red .eaw-ulx .eaw-li__wrap .booknow button {
  background: #dc2626;
  color: #ffffff;
}
.eaw-block.theme-red .eaw-ulx .eaw-li__wrap .more-link {
  color: #dc2626;
}


section.wfea.wfea-short-date.theme-red article .eaw-title a {
  color: #dc2626 !important;
}
section.wfea.wfea-short-date.theme-red article .eaw-title a:hover {
  opacity: 0.5;
}
section.wfea.wfea-short-date.theme-red article .wfea-short-date-item-date-month {
  color: #dc2626 !important;
}
section.wfea.wfea-short-date.theme-red article .wfea-short-date-item-content .wfea-short-date-item-meta .wfea-short-date-item-buttons .book-now__link {
  background: #dc2626 !important;
}
section.wfea.wfea-short-date.theme-red article .wfea-short-date-item-content .wfea-short-date-item-meta .wfea-short-date-item-buttons button.wfea-modal-view-details {
  color: #dc2626 !important;
}

.wfea-modal-container.theme-red .wfea-modal-checkout-button {
  background: #dc2626 !important;
}

.wfea-card.theme-red article .wfea-card-item .eaw-content-wrap .eaw-content-block .eaw-buttons .eaw-booknow a {
  background: #dc2626 !important;
}

section.wfea.theme-blue article {
  color: #000000;
}
section.wfea.theme-blue article a {
  border: 0;
  box-shadow: none;
}
section.wfea.theme-blue article a:hover {
  border: 0;
  box-shadow: none;
}
section.wfea.theme-blue article .wfea-header__title:before, section.wfea.theme-blue article .wfea-header__title:after {
  content: none;
}
section.wfea.theme-blue article h1, section.wfea.theme-blue article h2, section.wfea.theme-blue article h3, section.wfea.theme-blue article h4, section.wfea.theme-blue article h5, section.wfea.theme-blue article h6 {
  line-height: 1.25;
  margin: 0;
  padding: 0;
}
section.wfea.theme-blue article .wfea-1__info {
  background: #f1f1f1;
}
section.wfea.theme-blue article .wfea-header__title a {
  color: #2563eb !important;
}
section.wfea.theme-blue article .eaw-time {
  color: #787878;
}
section.wfea.theme-blue article .booknow a {
  background: #2563eb;
  color: #ffffff;
}
section.wfea.theme-blue article .booknow button {
  background: #2563eb;
  color: #ffffff;
}
section.wfea.theme-blue article .more-link {
  color: #2563eb;
}

.eaw-block.theme-blue .eaw-ulx .eaw-li__wrap {
  color: #000000;
}
.eaw-block.theme-blue .eaw-ulx .eaw-li__wrap a {
  border: 0;
  box-shadow: none;
}
.eaw-block.theme-blue .eaw-ulx .eaw-li__wrap a:hover {
  border: 0;
  box-shadow: none;
}
.eaw-block.theme-blue .eaw-ulx .eaw-li__wrap .wfea-header__title:before, .eaw-block.theme-blue .eaw-ulx .eaw-li__wrap .wfea-header__title:after {
  content: none;
}
.eaw-block.theme-blue .eaw-ulx .eaw-li__wrap h1, .eaw-block.theme-blue .eaw-ulx .eaw-li__wrap h2, .eaw-block.theme-blue .eaw-ulx .eaw-li__wrap h3, .eaw-block.theme-blue .eaw-ulx .eaw-li__wrap h4, .eaw-block.theme-blue .eaw-ulx .eaw-li__wrap h5, .eaw-block.theme-blue .eaw-ulx .eaw-li__wrap h6 {
  line-height: 1.25;
  margin: 0;
  padding: 0;
}
.eaw-block.theme-blue .eaw-ulx .eaw-li__wrap .eaw-title a {
  color: #2563eb;
}
.eaw-block.theme-blue .eaw-ulx .eaw-li__wrap .eaw-time {
  color: #787878;
}
.eaw-block.theme-blue .eaw-ulx .eaw-li__wrap .booknow a {
  background: #2563eb;
  color: #ffffff;
}
.eaw-block.theme-blue .eaw-ulx .eaw-li__wrap .booknow button {
  background: #2563eb;
  color: #ffffff;
}
.eaw-block.theme-blue .eaw-ulx .eaw-li__wrap .more-link {
  color: #2563eb;
}


section.wfea.wfea-short-date.theme-blue article .eaw-title a {
  color: #2563eb !important;
}
section.wfea.wfea-short-date.theme-blue article .eaw-title a:hover {
  opacity: 0.5;
}
section.wfea.wfea-short-date.theme-blue article .wfea-short-date-item-date-month {
  color: #2563eb !important;
}
section.wfea.wfea-short-date.theme-blue article .wfea-short-date-item-content .wfea-short-date-item-meta .wfea-short-date-item-buttons .book-now__link {
  background: #2563eb !important;
}
section.wfea.wfea-short-date.theme-blue article .wfea-short-date-item-content .wfea-short-date-item-meta .wfea-short-date-item-buttons button.wfea-modal-view-details {
  color: #2563eb !important;
}

.wfea-modal-container.theme-blue .wfea-modal-checkout-button {
  background: #2563eb !important;
}

.wfea-card.theme-blue article .wfea-card-item .eaw-content-wrap .eaw-content-block .eaw-buttons .eaw-booknow a {
  background: #2563eb !important;
}

section.wfea.theme-indigo article {
  color: #000000;
}
section.wfea.theme-indigo article a {
  border: 0;
  box-shadow: none;
}
section.wfea.theme-indigo article a:hover {
  border: 0;
  box-shadow: none;
}
section.wfea.theme-indigo article .wfea-header__title:before, section.wfea.theme-indigo article .wfea-header__title:after {
  content: none;
}
section.wfea.theme-indigo article h1, section.wfea.theme-indigo article h2, section.wfea.theme-indigo article h3, section.wfea.theme-indigo article h4, section.wfea.theme-indigo article h5, section.wfea.theme-indigo article h6 {
  line-height: 1.25;
  margin: 0;
  padding: 0;
}
section.wfea.theme-indigo article .wfea-1__info {
  background: #f1f1f1;
}
section.wfea.theme-indigo article .wfea-header__title a {
  color: #4f46e5 !important;
}
section.wfea.theme-indigo article .eaw-time {
  color: #787878;
}
section.wfea.theme-indigo article .booknow a {
  background: #4f46e5;
  color: #ffffff;
}
section.wfea.theme-indigo article .booknow button {
  background: #4f46e5;
  color: #ffffff;
}
section.wfea.theme-indigo article .more-link {
  color: #4f46e5;
}

.eaw-block.theme-indigo .eaw-ulx .eaw-li__wrap {
  color: #000000;
}
.eaw-block.theme-indigo .eaw-ulx .eaw-li__wrap a {
  border: 0;
  box-shadow: none;
}
.eaw-block.theme-indigo .eaw-ulx .eaw-li__wrap a:hover {
  border: 0;
  box-shadow: none;
}
.eaw-block.theme-indigo .eaw-ulx .eaw-li__wrap .wfea-header__title:before, .eaw-block.theme-indigo .eaw-ulx .eaw-li__wrap .wfea-header__title:after {
  content: none;
}
.eaw-block.theme-indigo .eaw-ulx .eaw-li__wrap h1, .eaw-block.theme-indigo .eaw-ulx .eaw-li__wrap h2, .eaw-block.theme-indigo .eaw-ulx .eaw-li__wrap h3, .eaw-block.theme-indigo .eaw-ulx .eaw-li__wrap h4, .eaw-block.theme-indigo .eaw-ulx .eaw-li__wrap h5, .eaw-block.theme-indigo .eaw-ulx .eaw-li__wrap h6 {
  line-height: 1.25;
  margin: 0;
  padding: 0;
}
.eaw-block.theme-indigo .eaw-ulx .eaw-li__wrap .eaw-title a {
  color: #4f46e5;
}
.eaw-block.theme-indigo .eaw-ulx .eaw-li__wrap .eaw-time {
  color: #787878;
}
.eaw-block.theme-indigo .eaw-ulx .eaw-li__wrap .booknow a {
  background: #4f46e5;
  color: #ffffff;
}
.eaw-block.theme-indigo .eaw-ulx .eaw-li__wrap .booknow button {
  background: #4f46e5;
  color: #ffffff;
}
.eaw-block.theme-indigo .eaw-ulx .eaw-li__wrap .more-link {
  color: #4f46e5;
}


section.wfea.wfea-short-date.theme-indigo article .eaw-title a {
  color: #4f46e5 !important;
}
section.wfea.wfea-short-date.theme-indigo article .eaw-title a:hover {
  opacity: 0.5;
}
section.wfea.wfea-short-date.theme-indigo article .wfea-short-date-item-date-month {
  color: #4f46e5 !important;
}
section.wfea.wfea-short-date.theme-indigo article .wfea-short-date-item-content .wfea-short-date-item-meta .wfea-short-date-item-buttons .book-now__link {
  background: #4f46e5 !important;
}
section.wfea.wfea-short-date.theme-indigo article .wfea-short-date-item-content .wfea-short-date-item-meta .wfea-short-date-item-buttons button.wfea-modal-view-details {
  color: #4f46e5 !important;
}

.wfea-modal-container.theme-indigo .wfea-modal-checkout-button {
  background: #4f46e5 !important;
}

.wfea-card.theme-indigo article .wfea-card-item .eaw-content-wrap .eaw-content-block .eaw-buttons .eaw-booknow a {
  background: #4f46e5 !important;
}

section.wfea.theme-green article {
  color: #000000;
}
section.wfea.theme-green article a {
  border: 0;
  box-shadow: none;
}
section.wfea.theme-green article a:hover {
  border: 0;
  box-shadow: none;
}
section.wfea.theme-green article .wfea-header__title:before, section.wfea.theme-green article .wfea-header__title:after {
  content: none;
}
section.wfea.theme-green article h1, section.wfea.theme-green article h2, section.wfea.theme-green article h3, section.wfea.theme-green article h4, section.wfea.theme-green article h5, section.wfea.theme-green article h6 {
  line-height: 1.25;
  margin: 0;
  padding: 0;
}
section.wfea.theme-green article .wfea-1__info {
  background: #f1f1f1;
}
section.wfea.theme-green article .wfea-header__title a {
  color: #059669 !important;
}
section.wfea.theme-green article .eaw-time {
  color: #787878;
}
section.wfea.theme-green article .booknow a {
  background: #059669;
  color: #ffffff;
}
section.wfea.theme-green article .booknow button {
  background: #059669;
  color: #ffffff;
}
section.wfea.theme-green article .more-link {
  color: #059669;
}

.eaw-block.theme-green .eaw-ulx .eaw-li__wrap {
  color: #000000;
}
.eaw-block.theme-green .eaw-ulx .eaw-li__wrap a {
  border: 0;
  box-shadow: none;
}
.eaw-block.theme-green .eaw-ulx .eaw-li__wrap a:hover {
  border: 0;
  box-shadow: none;
}
.eaw-block.theme-green .eaw-ulx .eaw-li__wrap .wfea-header__title:before, .eaw-block.theme-green .eaw-ulx .eaw-li__wrap .wfea-header__title:after {
  content: none;
}
.eaw-block.theme-green .eaw-ulx .eaw-li__wrap h1, .eaw-block.theme-green .eaw-ulx .eaw-li__wrap h2, .eaw-block.theme-green .eaw-ulx .eaw-li__wrap h3, .eaw-block.theme-green .eaw-ulx .eaw-li__wrap h4, .eaw-block.theme-green .eaw-ulx .eaw-li__wrap h5, .eaw-block.theme-green .eaw-ulx .eaw-li__wrap h6 {
  line-height: 1.25;
  margin: 0;
  padding: 0;
}
.eaw-block.theme-green .eaw-ulx .eaw-li__wrap .eaw-title a {
  color: #059669;
}
.eaw-block.theme-green .eaw-ulx .eaw-li__wrap .eaw-time {
  color: #787878;
}
.eaw-block.theme-green .eaw-ulx .eaw-li__wrap .booknow a {
  background: #059669;
  color: #ffffff;
}
.eaw-block.theme-green .eaw-ulx .eaw-li__wrap .booknow button {
  background: #059669;
  color: #ffffff;
}
.eaw-block.theme-green .eaw-ulx .eaw-li__wrap .more-link {
  color: #059669;
}


section.wfea.wfea-short-date.theme-green article .eaw-title a {
  color: #059669 !important;
}
section.wfea.wfea-short-date.theme-green article .eaw-title a:hover {
  opacity: 0.5;
}
section.wfea.wfea-short-date.theme-green article .wfea-short-date-item-date-month {
  color: #059669 !important;
}
section.wfea.wfea-short-date.theme-green article .wfea-short-date-item-content .wfea-short-date-item-meta .wfea-short-date-item-buttons .book-now__link {
  background: #059669 !important;
}
section.wfea.wfea-short-date.theme-green article .wfea-short-date-item-content .wfea-short-date-item-meta .wfea-short-date-item-buttons button.wfea-modal-view-details {
  color: #059669 !important;
}

.wfea-modal-container.theme-green .wfea-modal-checkout-button {
  background: #059669 !important;
}

.wfea-card.theme-green article .wfea-card-item .eaw-content-wrap .eaw-content-block .eaw-buttons .eaw-booknow a {
  background: #059669 !important;
}

section.wfea.theme-purple article {
  color: #000000;
}
section.wfea.theme-purple article a {
  border: 0;
  box-shadow: none;
}
section.wfea.theme-purple article a:hover {
  border: 0;
  box-shadow: none;
}
section.wfea.theme-purple article .wfea-header__title:before, section.wfea.theme-purple article .wfea-header__title:after {
  content: none;
}
section.wfea.theme-purple article h1, section.wfea.theme-purple article h2, section.wfea.theme-purple article h3, section.wfea.theme-purple article h4, section.wfea.theme-purple article h5, section.wfea.theme-purple article h6 {
  line-height: 1.25;
  margin: 0;
  padding: 0;
}
section.wfea.theme-purple article .wfea-1__info {
  background: #f1f1f1;
}
section.wfea.theme-purple article .wfea-header__title a {
  color: #7c3aed !important;
}
section.wfea.theme-purple article .eaw-time {
  color: #787878;
}
section.wfea.theme-purple article .booknow a {
  background: #7c3aed;
  color: #ffffff;
}
section.wfea.theme-purple article .booknow button {
  background: #7c3aed;
  color: #ffffff;
}
section.wfea.theme-purple article .more-link {
  color: #7c3aed;
}

.eaw-block.theme-purple .eaw-ulx .eaw-li__wrap {
  color: #000000;
}
.eaw-block.theme-purple .eaw-ulx .eaw-li__wrap a {
  border: 0;
  box-shadow: none;
}
.eaw-block.theme-purple .eaw-ulx .eaw-li__wrap a:hover {
  border: 0;
  box-shadow: none;
}
.eaw-block.theme-purple .eaw-ulx .eaw-li__wrap .wfea-header__title:before, .eaw-block.theme-purple .eaw-ulx .eaw-li__wrap .wfea-header__title:after {
  content: none;
}
.eaw-block.theme-purple .eaw-ulx .eaw-li__wrap h1, .eaw-block.theme-purple .eaw-ulx .eaw-li__wrap h2, .eaw-block.theme-purple .eaw-ulx .eaw-li__wrap h3, .eaw-block.theme-purple .eaw-ulx .eaw-li__wrap h4, .eaw-block.theme-purple .eaw-ulx .eaw-li__wrap h5, .eaw-block.theme-purple .eaw-ulx .eaw-li__wrap h6 {
  line-height: 1.25;
  margin: 0;
  padding: 0;
}
.eaw-block.theme-purple .eaw-ulx .eaw-li__wrap .eaw-title a {
  color: #7c3aed;
}
.eaw-block.theme-purple .eaw-ulx .eaw-li__wrap .eaw-time {
  color: #787878;
}
.eaw-block.theme-purple .eaw-ulx .eaw-li__wrap .booknow a {
  background: #7c3aed;
  color: #ffffff;
}
.eaw-block.theme-purple .eaw-ulx .eaw-li__wrap .booknow button {
  background: #7c3aed;
  color: #ffffff;
}
.eaw-block.theme-purple .eaw-ulx .eaw-li__wrap .more-link {
  color: #7c3aed;
}


section.wfea.wfea-short-date.theme-purple article .eaw-title a {
  color: #7c3aed !important;
}
section.wfea.wfea-short-date.theme-purple article .eaw-title a:hover {
  opacity: 0.5;
}
section.wfea.wfea-short-date.theme-purple article .wfea-short-date-item-date-month {
  color: #7c3aed !important;
}
section.wfea.wfea-short-date.theme-purple article .wfea-short-date-item-content .wfea-short-date-item-meta .wfea-short-date-item-buttons .book-now__link {
  background: #7c3aed !important;
}
section.wfea.wfea-short-date.theme-purple article .wfea-short-date-item-content .wfea-short-date-item-meta .wfea-short-date-item-buttons button.wfea-modal-view-details {
  color: #7c3aed !important;
}

.wfea-modal-container.theme-purple .wfea-modal-checkout-button {
  background: #7c3aed !important;
}

.wfea-card.theme-purple article .wfea-card-item .eaw-content-wrap .eaw-content-block .eaw-buttons .eaw-booknow a {
  background: #7c3aed !important;
}

section.wfea.theme-pink article {
  color: #000000;
}
section.wfea.theme-pink article a {
  border: 0;
  box-shadow: none;
}
section.wfea.theme-pink article a:hover {
  border: 0;
  box-shadow: none;
}
section.wfea.theme-pink article .wfea-header__title:before, section.wfea.theme-pink article .wfea-header__title:after {
  content: none;
}
section.wfea.theme-pink article h1, section.wfea.theme-pink article h2, section.wfea.theme-pink article h3, section.wfea.theme-pink article h4, section.wfea.theme-pink article h5, section.wfea.theme-pink article h6 {
  line-height: 1.25;
  margin: 0;
  padding: 0;
}
section.wfea.theme-pink article .wfea-1__info {
  background: #f1f1f1;
}
section.wfea.theme-pink article .wfea-header__title a {
  color: #db2777 !important;
}
section.wfea.theme-pink article .eaw-time {
  color: #787878;
}
section.wfea.theme-pink article .booknow a {
  background: #db2777;
  color: #ffffff;
}
section.wfea.theme-pink article .booknow button {
  background: #db2777;
  color: #ffffff;
}
section.wfea.theme-pink article .more-link {
  color: #db2777;
}

.eaw-block.theme-pink .eaw-ulx .eaw-li__wrap {
  color: #000000;
}
.eaw-block.theme-pink .eaw-ulx .eaw-li__wrap a {
  border: 0;
  box-shadow: none;
}
.eaw-block.theme-pink .eaw-ulx .eaw-li__wrap a:hover {
  border: 0;
  box-shadow: none;
}
.eaw-block.theme-pink .eaw-ulx .eaw-li__wrap .wfea-header__title:before, .eaw-block.theme-pink .eaw-ulx .eaw-li__wrap .wfea-header__title:after {
  content: none;
}
.eaw-block.theme-pink .eaw-ulx .eaw-li__wrap h1, .eaw-block.theme-pink .eaw-ulx .eaw-li__wrap h2, .eaw-block.theme-pink .eaw-ulx .eaw-li__wrap h3, .eaw-block.theme-pink .eaw-ulx .eaw-li__wrap h4, .eaw-block.theme-pink .eaw-ulx .eaw-li__wrap h5, .eaw-block.theme-pink .eaw-ulx .eaw-li__wrap h6 {
  line-height: 1.25;
  margin: 0;
  padding: 0;
}
.eaw-block.theme-pink .eaw-ulx .eaw-li__wrap .eaw-title a {
  color: #db2777;
}
.eaw-block.theme-pink .eaw-ulx .eaw-li__wrap .eaw-time {
  color: #787878;
}
.eaw-block.theme-pink .eaw-ulx .eaw-li__wrap .booknow a {
  background: #db2777;
  color: #ffffff;
}
.eaw-block.theme-pink .eaw-ulx .eaw-li__wrap .booknow button {
  background: #db2777;
  color: #ffffff;
}
.eaw-block.theme-pink .eaw-ulx .eaw-li__wrap .more-link {
  color: #db2777;
}


section.wfea.wfea-short-date.theme-pink article .eaw-title a {
  color: #db2777 !important;
}
section.wfea.wfea-short-date.theme-pink article .eaw-title a:hover {
  opacity: 0.5;
}
section.wfea.wfea-short-date.theme-pink article .wfea-short-date-item-date-month {
  color: #db2777 !important;
}
section.wfea.wfea-short-date.theme-pink article .wfea-short-date-item-content .wfea-short-date-item-meta .wfea-short-date-item-buttons .book-now__link {
  background: #db2777 !important;
}
section.wfea.wfea-short-date.theme-pink article .wfea-short-date-item-content .wfea-short-date-item-meta .wfea-short-date-item-buttons button.wfea-modal-view-details {
  color: #db2777 !important;
}

.wfea-modal-container.theme-pink .wfea-modal-checkout-button {
  background: #db2777 !important;
}

.wfea-card.theme-pink article .wfea-card-item .eaw-content-wrap .eaw-content-block .eaw-buttons .eaw-booknow a {
  background: #db2777 !important;
}

section.wfea.theme-orange article {
  color: #000000;
}
section.wfea.theme-orange article a {
  border: 0;
  box-shadow: none;
}
section.wfea.theme-orange article a:hover {
  border: 0;
  box-shadow: none;
}
section.wfea.theme-orange article .wfea-header__title:before, section.wfea.theme-orange article .wfea-header__title:after {
  content: none;
}
section.wfea.theme-orange article h1, section.wfea.theme-orange article h2, section.wfea.theme-orange article h3, section.wfea.theme-orange article h4, section.wfea.theme-orange article h5, section.wfea.theme-orange article h6 {
  line-height: 1.25;
  margin: 0;
  padding: 0;
}
section.wfea.theme-orange article .wfea-1__info {
  background: #f1f1f1;
}
section.wfea.theme-orange article .wfea-header__title a {
  color: #d97706 !important;
}
section.wfea.theme-orange article .eaw-time {
  color: #787878;
}
section.wfea.theme-orange article .booknow a {
  background: #d97706;
  color: #ffffff;
}
section.wfea.theme-orange article .booknow button {
  background: #d97706;
  color: #ffffff;
}
section.wfea.theme-orange article .more-link {
  color: #d97706;
}

.eaw-block.theme-orange .eaw-ulx .eaw-li__wrap {
  color: #000000;
}
.eaw-block.theme-orange .eaw-ulx .eaw-li__wrap a {
  border: 0;
  box-shadow: none;
}
.eaw-block.theme-orange .eaw-ulx .eaw-li__wrap a:hover {
  border: 0;
  box-shadow: none;
}
.eaw-block.theme-orange .eaw-ulx .eaw-li__wrap .wfea-header__title:before, .eaw-block.theme-orange .eaw-ulx .eaw-li__wrap .wfea-header__title:after {
  content: none;
}
.eaw-block.theme-orange .eaw-ulx .eaw-li__wrap h1, .eaw-block.theme-orange .eaw-ulx .eaw-li__wrap h2, .eaw-block.theme-orange .eaw-ulx .eaw-li__wrap h3, .eaw-block.theme-orange .eaw-ulx .eaw-li__wrap h4, .eaw-block.theme-orange .eaw-ulx .eaw-li__wrap h5, .eaw-block.theme-orange .eaw-ulx .eaw-li__wrap h6 {
  line-height: 1.25;
  margin: 0;
  padding: 0;
}
.eaw-block.theme-orange .eaw-ulx .eaw-li__wrap .eaw-title a {
  color: #d97706;
}
.eaw-block.theme-orange .eaw-ulx .eaw-li__wrap .eaw-time {
  color: #787878;
}
.eaw-block.theme-orange .eaw-ulx .eaw-li__wrap .booknow a {
  background: #d97706;
  color: #ffffff;
}
.eaw-block.theme-orange .eaw-ulx .eaw-li__wrap .booknow button {
  background: #d97706;
  color: #ffffff;
}
.eaw-block.theme-orange .eaw-ulx .eaw-li__wrap .more-link {
  color: #d97706;
}


section.wfea.wfea-short-date.theme-orange article .eaw-title a {
  color: #d97706 !important;
}
section.wfea.wfea-short-date.theme-orange article .eaw-title a:hover {
  opacity: 0.5;
}
section.wfea.wfea-short-date.theme-orange article .wfea-short-date-item-date-month {
  color: #d97706 !important;
}
section.wfea.wfea-short-date.theme-orange article .wfea-short-date-item-content .wfea-short-date-item-meta .wfea-short-date-item-buttons .book-now__link {
  background: #d97706 !important;
}
section.wfea.wfea-short-date.theme-orange article .wfea-short-date-item-content .wfea-short-date-item-meta .wfea-short-date-item-buttons button.wfea-modal-view-details {
  color: #d97706 !important;
}

.wfea-modal-container.theme-orange .wfea-modal-checkout-button {
  background: #d97706 !important;
}

.wfea-card.theme-orange article .wfea-card-item .eaw-content-wrap .eaw-content-block .eaw-buttons .eaw-booknow a {
  background: #d97706 !important;
}

section.wfea.theme-gray article {
  color: #000000;
}
section.wfea.theme-gray article a {
  border: 0;
  box-shadow: none;
}
section.wfea.theme-gray article a:hover {
  border: 0;
  box-shadow: none;
}
section.wfea.theme-gray article .wfea-header__title:before, section.wfea.theme-gray article .wfea-header__title:after {
  content: none;
}
section.wfea.theme-gray article h1, section.wfea.theme-gray article h2, section.wfea.theme-gray article h3, section.wfea.theme-gray article h4, section.wfea.theme-gray article h5, section.wfea.theme-gray article h6 {
  line-height: 1.25;
  margin: 0;
  padding: 0;
}
section.wfea.theme-gray article .wfea-1__info {
  background: #f1f1f1;
}
section.wfea.theme-gray article .wfea-header__title a {
  color: #4b5563 !important;
}
section.wfea.theme-gray article .eaw-time {
  color: #787878;
}
section.wfea.theme-gray article .booknow a {
  background: #4b5563;
  color: #ffffff;
}
section.wfea.theme-gray article .booknow button {
  background: #4b5563;
  color: #ffffff;
}
section.wfea.theme-gray article .more-link {
  color: #4b5563;
}

.eaw-block.theme-gray .eaw-ulx .eaw-li__wrap {
  color: #000000;
}
.eaw-block.theme-gray .eaw-ulx .eaw-li__wrap a {
  border: 0;
  box-shadow: none;
}
.eaw-block.theme-gray .eaw-ulx .eaw-li__wrap a:hover {
  border: 0;
  box-shadow: none;
}
.eaw-block.theme-gray .eaw-ulx .eaw-li__wrap .wfea-header__title:before, .eaw-block.theme-gray .eaw-ulx .eaw-li__wrap .wfea-header__title:after {
  content: none;
}
.eaw-block.theme-gray .eaw-ulx .eaw-li__wrap h1, .eaw-block.theme-gray .eaw-ulx .eaw-li__wrap h2, .eaw-block.theme-gray .eaw-ulx .eaw-li__wrap h3, .eaw-block.theme-gray .eaw-ulx .eaw-li__wrap h4, .eaw-block.theme-gray .eaw-ulx .eaw-li__wrap h5, .eaw-block.theme-gray .eaw-ulx .eaw-li__wrap h6 {
  line-height: 1.25;
  margin: 0;
  padding: 0;
}
.eaw-block.theme-gray .eaw-ulx .eaw-li__wrap .eaw-title a {
  color: #4b5563;
}
.eaw-block.theme-gray .eaw-ulx .eaw-li__wrap .eaw-time {
  color: #787878;
}
.eaw-block.theme-gray .eaw-ulx .eaw-li__wrap .booknow a {
  background: #4b5563;
  color: #ffffff;
}
.eaw-block.theme-gray .eaw-ulx .eaw-li__wrap .booknow button {
  background: #4b5563;
  color: #ffffff;
}
.eaw-block.theme-gray .eaw-ulx .eaw-li__wrap .more-link {
  color: #4b5563;
}


section.wfea.wfea-short-date.theme-gray article .eaw-title a {
  color: #4b5563 !important;
}
section.wfea.wfea-short-date.theme-gray article .eaw-title a:hover {
  opacity: 0.5;
}
section.wfea.wfea-short-date.theme-gray article .wfea-short-date-item-date-month {
  color: #4b5563 !important;
}
section.wfea.wfea-short-date.theme-gray article .wfea-short-date-item-content .wfea-short-date-item-meta .wfea-short-date-item-buttons .book-now__link {
  background: #4b5563 !important;
}
section.wfea.wfea-short-date.theme-gray article .wfea-short-date-item-content .wfea-short-date-item-meta .wfea-short-date-item-buttons button.wfea-modal-view-details {
  color: #4b5563 !important;
}

.wfea-modal-container.theme-gray .wfea-modal-checkout-button {
  background: #4b5563 !important;
}

.wfea-card.theme-gray article .wfea-card-item .eaw-content-wrap .eaw-content-block .eaw-buttons .eaw-booknow a {
  background: #4b5563 !important;
}

.wfea.wfea-cal.theme-red .help-tip,
.qtip.theme-red {
  background: #fef2f2;
  border-color: #f87171;
  color: #7f1d1d;
}
.wfea.wfea-cal.theme-red .help-tip .qtip-titlebar,
.qtip.theme-red .qtip-titlebar {
  background: #fecaca;
}
.wfea.wfea-cal.theme-red .help-tip .qtip-tip:before,
.qtip.theme-red .qtip-tip:before {
  border-color: #f87171 transparent transparent;
}
.wfea.wfea-cal.theme-red .help-tip .qtip-tip:after,
.qtip.theme-red .qtip-tip:after {
  border-color: #fef2f2 transparent transparent transparent;
}

.wfea.wfea-cal.theme-blue .help-tip,
.qtip.theme-blue {
  background: #eff6ff;
  border-color: #60a5fa;
  color: #1e3a8a;
}
.wfea.wfea-cal.theme-blue .help-tip .qtip-titlebar,
.qtip.theme-blue .qtip-titlebar {
  background: #bfdbfe;
}
.wfea.wfea-cal.theme-blue .help-tip .qtip-tip:before,
.qtip.theme-blue .qtip-tip:before {
  border-color: #60a5fa transparent transparent;
}
.wfea.wfea-cal.theme-blue .help-tip .qtip-tip:after,
.qtip.theme-blue .qtip-tip:after {
  border-color: #eff6ff transparent transparent transparent;
}

.wfea.wfea-cal.theme-indigo .help-tip,
.qtip.theme-indigo {
  background: #eef2ff;
  border-color: #818cf8;
  color: #312e81;
}
.wfea.wfea-cal.theme-indigo .help-tip .qtip-titlebar,
.qtip.theme-indigo .qtip-titlebar {
  background: #c7d2fe;
}
.wfea.wfea-cal.theme-indigo .help-tip .qtip-tip:before,
.qtip.theme-indigo .qtip-tip:before {
  border-color: #818cf8 transparent transparent;
}
.wfea.wfea-cal.theme-indigo .help-tip .qtip-tip:after,
.qtip.theme-indigo .qtip-tip:after {
  border-color: #eef2ff transparent transparent transparent;
}

.wfea.wfea-cal.theme-green .help-tip,
.qtip.theme-green {
  background: #ecfdf5;
  border-color: #34d399;
  color: #064e3b;
}
.wfea.wfea-cal.theme-green .help-tip .qtip-titlebar,
.qtip.theme-green .qtip-titlebar {
  background: #a7f3d0;
}
.wfea.wfea-cal.theme-green .help-tip .qtip-tip:before,
.qtip.theme-green .qtip-tip:before {
  border-color: #34d399 transparent transparent;
}
.wfea.wfea-cal.theme-green .help-tip .qtip-tip:after,
.qtip.theme-green .qtip-tip:after {
  border-color: #ecfdf5 transparent transparent transparent;
}

.wfea.wfea-cal.theme-purple .help-tip,
.qtip.theme-purple {
  background: #f5f3ff;
  border-color: #a78bfa;
  color: #4c1d95;
}
.wfea.wfea-cal.theme-purple .help-tip .qtip-titlebar,
.qtip.theme-purple .qtip-titlebar {
  background: #ddd6fe;
}
.wfea.wfea-cal.theme-purple .help-tip .qtip-tip:before,
.qtip.theme-purple .qtip-tip:before {
  border-color: #a78bfa transparent transparent;
}
.wfea.wfea-cal.theme-purple .help-tip .qtip-tip:after,
.qtip.theme-purple .qtip-tip:after {
  border-color: #f5f3ff transparent transparent transparent;
}

.wfea.wfea-cal.theme-pink .help-tip,
.qtip.theme-pink {
  background: #fdf2f8;
  border-color: #f472b6;
  color: #831843;
}
.wfea.wfea-cal.theme-pink .help-tip .qtip-titlebar,
.qtip.theme-pink .qtip-titlebar {
  background: #fbcfe8;
}
.wfea.wfea-cal.theme-pink .help-tip .qtip-tip:before,
.qtip.theme-pink .qtip-tip:before {
  border-color: #f472b6 transparent transparent;
}
.wfea.wfea-cal.theme-pink .help-tip .qtip-tip:after,
.qtip.theme-pink .qtip-tip:after {
  border-color: #fdf2f8 transparent transparent transparent;
}

.wfea.wfea-cal.theme-orange .help-tip,
.qtip.theme-orange {
  background: #fff3eb;
  border-color: #fba024;
  color: #78350f;
}
.wfea.wfea-cal.theme-orange .help-tip .qtip-titlebar,
.qtip.theme-orange .qtip-titlebar {
  background: #fdc68a;
}
.wfea.wfea-cal.theme-orange .help-tip .qtip-tip:before,
.qtip.theme-orange .qtip-tip:before {
  border-color: #fba024 transparent transparent;
}
.wfea.wfea-cal.theme-orange .help-tip .qtip-tip:after,
.qtip.theme-orange .qtip-tip:after {
  border-color: #fff3eb transparent transparent transparent;
}

.wfea.wfea-cal.theme-gray .help-tip,
.qtip.theme-gray {
  background: #f9fafb;
  border-color: #9ca3af;
  color: #111827;
}
.wfea.wfea-cal.theme-gray .help-tip .qtip-titlebar,
.qtip.theme-gray .qtip-titlebar {
  background: #e5e7eb;
}
.wfea.wfea-cal.theme-gray .help-tip .qtip-tip:before,
.qtip.theme-gray .qtip-tip:before {
  border-color: #9ca3af transparent transparent;
}
.wfea.wfea-cal.theme-gray .help-tip .qtip-tip:after,
.qtip.theme-gray .qtip-tip:after {
  border-color: #f9fafb transparent transparent transparent;
}

.wfea.wfea-cal.theme-red .fc-unthemed td.fc-today {
  background: #fef2f2;
}
.wfea.wfea-cal.theme-red .fc-event, .wfea.wfea-cal.theme-red .fc-event-dot {
  background-color: #b91c1c;
  color: #fee2e2;
  border-color: transparent transparent;
}
.wfea.wfea-cal.theme-red .fc-toolbar.fc-header-toolbar {
  background: #b91c1c;
}
.wfea.wfea-cal.theme-red .fc-toolbar.fc-header-toolbar h2 {
  color: #fee2e2;
}
.wfea.wfea-cal.theme-red .fc-toolbar.fc-header-toolbar .fc-button-group button {
  background: #b91c1c;
  border-color: #991b1b;
  color: #fecaca;
  text-shadow: none;
}

.wfea.wfea-cal.theme-blue .fc-unthemed td.fc-today {
  background: #eff6ff;
}
.wfea.wfea-cal.theme-blue .fc-event, .wfea.wfea-cal.theme-blue .fc-event-dot {
  background-color: #1d4ed8;
  color: #dbeafe;
  border-color: transparent transparent;
}
.wfea.wfea-cal.theme-blue .fc-toolbar.fc-header-toolbar {
  background: #1d4ed8;
}
.wfea.wfea-cal.theme-blue .fc-toolbar.fc-header-toolbar h2 {
  color: #dbeafe;
}
.wfea.wfea-cal.theme-blue .fc-toolbar.fc-header-toolbar .fc-button-group button {
  background: #1d4ed8;
  border-color: #1e40af;
  color: #bfdbfe;
  text-shadow: none;
}

.wfea.wfea-cal.theme-indigo .fc-unthemed td.fc-today {
  background: #eef2ff;
}
.wfea.wfea-cal.theme-indigo .fc-event, .wfea.wfea-cal.theme-indigo .fc-event-dot {
  background-color: #4338ca;
  color: #e0e7ff;
  border-color: transparent transparent;
}
.wfea.wfea-cal.theme-indigo .fc-toolbar.fc-header-toolbar {
  background: #4338ca;
}
.wfea.wfea-cal.theme-indigo .fc-toolbar.fc-header-toolbar h2 {
  color: #e0e7ff;
}
.wfea.wfea-cal.theme-indigo .fc-toolbar.fc-header-toolbar .fc-button-group button {
  background: #4338ca;
  border-color: #3730a3;
  color: #c7d2fe;
  text-shadow: none;
}

.wfea.wfea-cal.theme-green .fc-unthemed td.fc-today {
  background: #ecfdf5;
}
.wfea.wfea-cal.theme-green .fc-event, .wfea.wfea-cal.theme-green .fc-event-dot {
  background-color: #047857;
  color: #d1fae5;
  border-color: transparent transparent;
}
.wfea.wfea-cal.theme-green .fc-toolbar.fc-header-toolbar {
  background: #047857;
}
.wfea.wfea-cal.theme-green .fc-toolbar.fc-header-toolbar h2 {
  color: #d1fae5;
}
.wfea.wfea-cal.theme-green .fc-toolbar.fc-header-toolbar .fc-button-group button {
  background: #047857;
  border-color: #065f46;
  color: #a7f3d0;
  text-shadow: none;
}

.wfea.wfea-cal.theme-purple .fc-unthemed td.fc-today {
  background: #f5f3ff;
}
.wfea.wfea-cal.theme-purple .fc-event, .wfea.wfea-cal.theme-purple .fc-event-dot {
  background-color: #6d28d9;
  color: #ede9fe;
  border-color: transparent transparent;
}
.wfea.wfea-cal.theme-purple .fc-toolbar.fc-header-toolbar {
  background: #6d28d9;
}
.wfea.wfea-cal.theme-purple .fc-toolbar.fc-header-toolbar h2 {
  color: #ede9fe;
}
.wfea.wfea-cal.theme-purple .fc-toolbar.fc-header-toolbar .fc-button-group button {
  background: #6d28d9;
  border-color: #5b21b6;
  color: #ddd6fe;
  text-shadow: none;
}

.wfea.wfea-cal.theme-pink .fc-unthemed td.fc-today {
  background: #fdf2f8;
}
.wfea.wfea-cal.theme-pink .fc-event, .wfea.wfea-cal.theme-pink .fc-event-dot {
  background-color: #be185d;
  color: #fce7f3;
  border-color: transparent transparent;
}
.wfea.wfea-cal.theme-pink .fc-toolbar.fc-header-toolbar {
  background: #be185d;
}
.wfea.wfea-cal.theme-pink .fc-toolbar.fc-header-toolbar h2 {
  color: #fce7f3;
}
.wfea.wfea-cal.theme-pink .fc-toolbar.fc-header-toolbar .fc-button-group button {
  background: #be185d;
  border-color: #9d174d;
  color: #fbcfe8;
  text-shadow: none;
}

.wfea.wfea-cal.theme-orange .fc-unthemed td.fc-today {
  background: #fffbeb;
}
.wfea.wfea-cal.theme-orange .fc-event, .wfea.wfea-cal.theme-orange .fc-event-dot {
  background-color: #b45309;
  color: #fef3c7;
  border-color: transparent transparent;
}
.wfea.wfea-cal.theme-orange .fc-toolbar.fc-header-toolbar {
  background: #b45309;
}
.wfea.wfea-cal.theme-orange .fc-toolbar.fc-header-toolbar h2 {
  color: #fef3c7;
}
.wfea.wfea-cal.theme-orange .fc-toolbar.fc-header-toolbar .fc-button-group button {
  background: #b45309;
  border-color: #92400e;
  color: #fde68a;
  text-shadow: none;
}

.wfea.wfea-cal.theme-gray .fc-unthemed td.fc-today {
  background: #f9fafb;
}
.wfea.wfea-cal.theme-gray .fc-event, .wfea.wfea-cal.theme-gray .fc-event-dot {
  background-color: #374151;
  color: #f3f4f6;
  border-color: transparent transparent;
}
.wfea.wfea-cal.theme-gray .fc-toolbar.fc-header-toolbar {
  background: #374151;
}
.wfea.wfea-cal.theme-gray .fc-toolbar.fc-header-toolbar h2 {
  color: #f3f4f6;
}
.wfea.wfea-cal.theme-gray .fc-toolbar.fc-header-toolbar .fc-button-group button {
  background: #374151;
  border-color: #1f2937;
  color: #e5e7eb;
  text-shadow: none;
}

/*# sourceMappingURL=frontend.css.map */
